  body
    {
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }
    label{
    	margin-right: 8px;
    }

div.summary{

	/*    text-align: center;*/
	border: 1px solid black;
	padding: 8px;
	margin: 10px;
	margin-top: 50px;

	/*    margin-left:8px;
	font-weight:400;*/
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:5px;
	background:#fff;
	border:2px solid #e5e5e5;
	-moz-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	box-shadow:rgba(200,200,200,1) 0 4px 18px;
	/*    padding:16px 16px 40px;*/
	position: fixed;
	left: 0;
	float:left;
}