body
{
background-image:url('http://en.downloadswallpapers.com/wallpapers/2013/february/atomic-water-explosion-wallpaper-6747.jpg');

}


.stq
{
font-family:Calligraphy;
font-size:60px;
margin:5px;

}


.database
{
margin:10px;
font-family:Verdana;

}

.titlebar
{
text-align: left;
color:white;
opacity:0.6;
border:3px #660000 solid;
border-radius:10px;
height:50px;
width:1200px;
background-color:#660000;
margin:5px;
font-size:30px;
font-family:Comic Sans;
font-weight:bold;
}

#title
{
    background-color:white;
    border:3px white solid;
    border-radius:10px;
    text-align:left;

}

.container
{
width:130px;

}
.menubar
{
border:3px #999999 solid;
border-radius:15px;
background-color:#999999;
width:200px;
height:440px;
position:absolute;
left:10px;
bottom:0px;
}
.about
{
border:3px solid #cccccc;
background-color:white;
border-radius:10px;
}


.protein
{
    background-color:#cccccc;
    border-radius:10px;
    width:470px;
    height:440px;
    border:3px #660000 solid;
	position:fixed;
	left:14.3%;
    bottom:0px;
	font-size:15px;
    
}
.subtitle
{
font-size:25px;
text-align:center;
font-family:Comic Sans MS;
font-weight:bold;
}

#cse-search-box
{
    width:20px;
}
.organism
{
    height:200px;
    background-color:#cccccc;
    border-radius:10px;
    width:470px;
	height:440px;
	position:fixed;
    border:3px solid #660000;
    right:350px;
    bottom:0px;
	font-size:15px;
	
}


